<h1>There are <%= @pictures.length %> pictures in this collection</h1>

<p>
<%= link_to("Add a Picture", "/pictures/new") %> | <%= link_to("Pictures older than a Month", pictures_old_path) %>
</p>

<ul>
<% @most_recent_pictures.each do |picture| %>
  <li>
    <%= render 'show_picture', picture: picture %>
  </li>
<% end %>

</ul>

<% @show_year.each do |year| %>
  <section>
    <%= "#{year}" %>
    <%# @pictures.pictures_created_in_year(year) %>

  </section>
<% end %>
